.btnContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btn {
    background-color: #f1f1f1;
    border: 0;
    border-radius: 50px;
    margin: 5% 0 0 5%;
    padding: 14px 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: #21171F;
    font-family: poppins, sans-serif;
    z-index: 1;
    &:hover {
        background-color: #ffffff;
    }
    &:active {
        border: solid 1px #21171F;
    }
}