@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap');
@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ADLaM Display', sans-serif;
    font-size: 1rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #e5ded4;
}
.screenContainer {
    background-color: #e5ded4;
    box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.34);
                -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.34);
                -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.34);
    width: 100%;
    height: 45%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.screenContainer .screen {
    height: 30%;
    width: 40%;
    background-color: black;
    border: 10px solid #21171F;
    border-radius: 10px;
    box-shadow:  0px 16px 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(6.5cm);
    position: absolute; 
    z-index: 1;
}
.screenContainer .screen .screenImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    width: 100%;
    height: 55%;
    padding: 2% 20% 0 20%;
    overflow-y: auto;
}
.cardContainer .card {
    background-color: #3486CA;
    border-radius: 5px;
    border: 5px solid #EFF6E8;
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: -1px 8px 12px -3px rgba(0,0,0,0.79);
                -webkit-box-shadow: -1px 8px 12px -3px rgba(0,0,0,0.79);
                -moz-box-shadow: -1px 8px 12px -3px rgba(0,0,0,0.79);
}
.card .upperPart {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 10% 0 0 0;
    gap: 5%;
    width: 100%;
    height: 70%;
}
.cardContainer .card .actNum {
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: #3F5471;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
}
.card .title {
    background-color: #3F5471;
    width: 120%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 19px 13px -16px rgba(0,0,0,0.43);
                -webkit-box-shadow: 0px 19px 13px -16px rgba(0,0,0,0.43);
                -moz-box-shadow: 0px 19px 13px -16px rgba(0,0,0,0.43);
    font-family: "Kdam Thmor Pro", sans-serif;
}
.card .imgBox {
    height: 80%;
    width: 85%;
}
.card .imgBox img {
    border: 3px solid #293070;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    padding: 5px 0 15px 0px;
    gap: 10%;
}
.card .buttonGroup h1 {
    font-size: 0.8rem;
}
.card .button1{
    background-color: #F5F3F4;
    border-bottom: 5px solid #C4C4C4;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #422D00;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    &:active {
        background-color: #C4C4C4;
        border-bottom: 0px;
    }
}
.card .button2{
    background-color: #8BD75B;
    border-bottom: 5px solid #5A8C2D;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

@media (max-width: 1568px) {
    .screenContainer .screen {
        height: 30%;
        width: 60%;
    }
    .cardContainer {
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        padding: 2% 10% 5% 10%;
    }
    .card .title {
        font-size: 1rem;
    }
    .card .buttonGroup h1 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .cardContainer {
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        padding: 5% 5% 5% 5%;
    }
    .cardContainer .card {
        height: 275px;
    }
    .card .title {
        font-size: 0.8rem;
    }
    .card .buttonGroup h1 {
        font-size: 0.7rem;
    }
}

@media (max-width: 864px) {
    .screenContainer .screen {
        height: 30%;
        width: 85%;
    }
    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 8% 10% 10% 10%;
    }
    .container .card {
        flex-direction: row;
        height: 200px;
    }
    .card .upperPart {
        justify-content: space-around;
        background-color: #3F5471;
        height: 100%;
        width: 130%;
        padding: 0;
    }
    .card .actNum {
        margin: 3% 0 0 0;
    }
    .card .imgBox {
        height: 70%;
        width: 80%;
    }
    .card .title {
        font-size: 0.9rem;
        margin-bottom: 3%;
        height: 20%;
    }
    .card .buttonGroup {
        height: 100%;
        padding: 6% 0 6% 0px;
    }
    .card .buttonGroup h1 {
        font-size: 0.8rem;
    }
}
