* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:url('../Images/pacman.png');
}

body {
  overflow-y: hidden;
  color: #F5F3F4;
}

.container {
  flex-wrap: wrap;
  overflow: hidden;
  background: url("../Images/foodMap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(Images/pacman.svg), auto;
}

.container span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 120px;
}

.container span::before {
  content: "";
  position: absolute;
  background-image: url("../Images/emptyMap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.container span:hover::before {
  opacity: 1;
  transition: 0s;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.container span.permanent::before {
  opacity: 1;
}