* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    cursor: url('Images/cursor.png');
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(to right, rgb(7, 7, 7), black );
    position: relative;


    .word{
        font-size: 10rem;
    }
}

.illumination{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(
        circle at var(--x) var(--y),
        transparent -20%,
        rgb(0, 0, 0) 35%
    );
}